@media screen and (max-width: 1130px) {
   // NAVIGATIONEN //
  .navigation {
  width: 100%;
  height: 100px;
  background-color: $maincolor;
  .navlogo {
    //width: 50%;
    }
    .navbar {
      font-size: 3em;
      margin: 0;
      padding: 0;
      line-height: 15px;
      a {
        text-decoration: none;
        color: white;

      }
      .none {
        width: 10%;
        display: none;
        }
      .open {
        display: block;
        line-height: 55px;
      }
    }
  }

  // NAVIGATIONEN SLUTTER //
}
 @media screen and (max-width: 500px) {

  // INDEX // INDEX //
  // SEKTION 1
  .sectionhero_1 {
    img {
      margin: 0px 0px 0px 0px;
    }
  }
  // SEKTION 1 SLUT
  // Clearfix
  // SEKTION 2 BEGYNDER
  .seneste_tekst {
    line-height: 20px;
    margin-top: 10px;
    h1 {
      line-height: 25px;
    }
    p {
      margin-top: 10px;
    }
  }
  .sektion_2billede {
    img {
    margin-top: 0px;
    margin: 30px;
    width: 90%;
    height: 320px;
    }
    h2 {
      margin: 10px 30px 30px 30px;
    }
    p {
      line-height: 20px;
      margin: 10px 30px 30px 30px;
    }
  }

  // SEKTION 2 SLUT

  // INDEX SLUTTER //
  //STALK DIN POLITKER
  // VENSTRE-SIDEN


// - De personlige sider // // - De personlige sider //
.sectionhero_2_1 {
  .profile {
  .politiktekst {
    margin-top: 50px;
  .icons_1 {
    img {
      vertical-align: middle;
      width: 25%;
      margin-left: 135px;
    }
  }
  p {
    padding: 5px;
    line-height: 20px;
    margin: 30px;
    text-align: center;
        }
      }
    }
  }
}

// - De personlige sider slutter // // - De personlige sider slutter //
