
$maincolor: #009688; // TEAL
$secondcolor: #FF9100; // ORANGE

body {
font-family: 'Roboto', sans-serif;
}

 // NAVIGATIONEN
.navigation {
width: 100%;
height: 150px;
background-color: $maincolor;
  .navlogo {
    width: 45%;
    z-index: 1;
  }
.navbar {
  display: inline-flex;
  font-size: 1.3em;
  margin: 10px;
  padding: 10px;
  line-height: 30px;
  float: right;
  a {
    text-decoration: none;
  }
  .open {
    display: none;
  }
  li {
  color: white;
  margin: 10px;
  padding: 10px;
  transition: color 0.4s ease-in;
    }
    li:hover {
      color: $secondcolor;
    }

  }
}
// SIDEMOBILENAV
.sidenav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  background: $maincolor;
  overflow-x: hidden;
  padding-top: 30px;
  transition: 0.3s;
 a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 1em;
   color: white;
   display: block;
 }
 .closebtn {
   position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
 }
}

// END OF NAVIGATION
// FOOTER START
footer{
  position: absolute; // Remove if content can push footer
  bottom: 0; // Remove if content can push footer
  width: 100%;
  height: 100px;
  background-color: $maincolor;
}
// END OF FOOTER
