
$maincolor: #009688; // TEAL
$secondcolor: #FF9100; // ORANGE
$hovercolor: #00695C; // DARK TEAL
$backgroundcolor: #E0F2F1; // LIGHT TEAL
$font: 'Roboto', Arial, Helvetica, sans-serif;
body {
font-family: $font;
}
 // NAVIGATIONEN
.navigation {
width: 100%;
height: 100px;
background-color: $maincolor;
  .navlogo {
    width: 30%;
    z-index: 1;
  }
.navbar {
  display: inline-flex;
  font-size: 1.3em;
  line-height: 30px;
  float: right;
  a {
    text-decoration: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
  color: white;
  margin: 10px;
  padding: 10px;
    }
    li:hover {
      color: $secondcolor;
      border-bottom: 1px solid $secondcolor;
    }
  .open {
    display: none;
  }
}
}
// SIDEMOBILENAV
.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  background: $maincolor;
  overflow-x: hidden;
  padding-top: 30px;
  transition: 0.3s;
 a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 1em;
   color: white;
   display: block;
 }
 .closebtn {
   position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
 }
}
// END OF NAVIGATION
// FOOTER START
footer {
  width: 100%;
  height: 100px;
  background-color: $maincolor;
}
// END OF FOOTER

// SENESTE NYT / INDEX / SENESTE NYT / INDEX

// SEKTION 1
.sectionhero_1 {
  width: 100%;
  height: 800px;
  background-image: url("../images/sheepy2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  img {
    margin: 20px 20px 20px 0px;
    width: 80%;
  }
  .facts {
    margin-top: 50px;
    padding: 10px;
    background-color: $secondcolor;
    border-radius: 20px;
    height: 200px;
    h1 {
      margin-top: 20px;
      color: white;
      text-align: center;
      font-size: 2em;
    }
    p {
      text-align: center;
      font-size: 1.2em;
      margin-top: 30px;
      color: white;
    }
  }
  .maaling {
    margin: 50px;
    h1 {
      text-align: center;
      font-size: 1.1em;
    }
    img {
      margin: 20px 0px 20px 20px;
    }
    .meningsmaaling {
      text-align: justify;
      label {
      font-weight: bold;
      }
    }
  }
}
// SEKTION 1 SLUT
// SEKTION 2 BEGYNDER
.seneste_tekst {
  color: white;
  margin: 30px;
  h1 {
    font-size: 1.5em;
  }
}
.sektion_2billede {
  img {
  margin-top: 200px;
  }
  h1 {
    font-size: 1.3em;
  }
}

// SEKTION 2 SLUT
// SENESTE NYT / INDEX SLUT

// STALK DIN POLITIKER
.sectionhero_2 {
  width: 100%;
  height: 800px;
  background-image: url("../images/stalkpol.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.search_1 {
  background-color: #def0ef;
  text-align: center;
  height: 70px;
    input {
      width: 70%;
      text-align: center;
      line-height: 10px;
      border-radius: 3px;
      height: 50px;
      font-size: 1.3em;
      margin-top: 10px;
    }
  }
  .pollogos {
  .pollogo {
    img {
      width: 80%;
      border-radius: 350px;
      border: 1px solid black;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}
.pollogos_2 {
  margin-top: 100px;
  }


// SIDE 2 pol-medlemmer side
.sectionhero_2_venstre {
  width: 100%;
  height: 800px;
  background-image: url("../images/venstreblur.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }
  .venstre {
    h1 {
      font-size: 2em;
      text-align: center;
      margin-top: 160px;
    }
    .markesager {
      h1 {
      text-align: right;
      margin-right: 200px;
      }
    }
  }
  .venstre_1 {
    margin-top: 50px;
    .icons {
      li {
        margin: 30;
      }
      img {
        vertical-align: middle;
        width: 12%;
      }
    }
  }
  .polpic {
    width: 100%;
    height: 1500px;
    background-image: url("../images/sidesam.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .photo_3 {
    img {
      border-radius: 250px;
      margin-top: 80px;
      margin-left: 15px;
    }
    h1 {
      margin-left: 80px;
      font-size: 1.5em;
      margin-top: 10px;
      margin-bottom: 80px;
    }
}
    .photo {
    img {
      border-radius: 250px;
      margin-top: 80px;
      margin-left: 15px;
    }
    h1 {
      margin-left: 80px;
      font-size: 1.5em;
      margin-top: 10px;
      margin-bottom: 80px;
    }
  }
  .photo_2 {
  img {
    border-radius: 250px;
    margin-top: 80px;
    margin-left: 150px;
  }
  h1 {
    font-size: 1.5em;
    margin-left: 230px;
    margin-top: 10px;
    margin-bottom: 80px;
  }
 }
}
// - De personlige sider // // - De personlige sider //
.sectionhero_2_1 {
  width: 100%;
  height: 1000px;
  background-image: url("../images/grey.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .profile {
  .profilepic {
    img {
    border-radius: 250px;
    }
  }
  .navn {
    h1 {
      font-size: 1.5em;
      margin-left: 30px;
    }
  }
  .icons {
    li {
      margin: 30;
    }
    img {
      vertical-align: middle;
      width: 15%;
    }
  }
  .politiktekst {
    margin-top: 50px;
  .icons_1 {
    img {
      vertical-align: middle;
      width: 25%;
      margin-left: 290px;
    }
  }
  p {
    line-height: 20px;
  }
}
}
}
// - De personlige sider slutter // // - De personlige sider slutter //
// STALK DIN POLITIKER SLUTTER

// EVENTS // EVENTS // // EVENTS // EVENTS //
.sectionhero_3 {
  width: 100%;
  height: 800px;
  background-image: url("../images/eventbillede.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

$eventimg: 70%;
.livestream {
  .live_1 {
    h1 {
      color: white;
      font-size: 2em;
      margin: 20px;
      padding: 20px;
      text-align: center;
      height: 200px;
    }
  }
  .live_2 {

    font-size: 1.5em;
    line-height: 50px;
    margin-top: 90px;
  }
  .live_3 {
    img {
      width: 100%;
    }
  }
}
.live_background {
  background-color: #def0ef;
  .events_1 {
    h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 100px;
    }
    img {
      width: $eventimg;
    }
  }
  .events_2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 20px;
    img {
      width: $eventimg;
    }
    h2 {
      font-size: 1.2em;
      padding: 4px 0px 4px 0px;
    }
  }
}
// EVENT SLUT // // EVENT SLUT // // EVENT SLUT //


// KONTAKT BEGYNDER

//Hero
.kontakthero {
  width: 100%;
  height: 600px;
  background-image: url("../images/kontakt.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  h1 {
      padding-top: 150px;
      width: 70%;
      color: white;
      margin: 0 auto;
      text-align: center;
      font-size: 2em;
    }
  }

// kontakt formular
.kontaktform {
  width: 50%;
  margin: 0 auto 50px auto;
  padding-bottom: 50px;
  @media screen and (max-width: 770px) {
    width: 80%;
  }
}

.input {
      margin: 15px auto;
      width: 100%;
      resize: vertical;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid $maincolor;
    }
    
.button {
  color: $secondcolor;
  background-color: $maincolor;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  font-family: $font;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

.button:hover {
  background-color: $hovercolor;
}

textarea {
  height: 150px;
}
// KONTAKT SLUT



// DEBAT BEGYNDER

//Hero
.debathero {
  overflow: hidden;
  width: 100%;
  height: 600px;
  background-image: url("../images/kontakt.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  img {
    float: right;
    margin: 20px 70px 20px 20px;
    width: 300px;
    @media screen and (max-width: 770px) {
    width: 40%;
    margin: 20px 30px 20px 20px;
    }
    @media screen and (max-width: 400px) {
    width: 70%;
    margin: 20px 70px 20px 20px;
    }
  }
  .debathero-vote {
    max-width: 350px;
    float: right;
    background-color: $backgroundcolor;
    opacity: 0.75;
    padding: 30px;
    margin: 50px 50px 0 0;
    @media screen and (max-width: 770px) {
      width: 35%;
    }
    @media screen and (max-width: 400px) {
      display: none;
    }
    img {
      width: 20px;
      margin-right: 20px;
    }
    td {
      vertical-align: middle;
    }
  }
}

.debat {
  .debatform {
    width: 50%;
    @media screen and (max-width: 770px) {
      width: 80%;
    }
    margin: 0 auto 50px auto;
    .input {
      border: 1px solid #ccc;
    }
  }
  background-color: $backgroundcolor;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
  h1 {
    width: 70%;
    color: black;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
  }
  .debat-post {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #ccc;
    margin: 30px auto;
    padding: 20px;
    width: 50%;
    border-radius: 15px;
    overflow: hidden;
    @media screen and (max-width: 770px) {
      width: 80%;
    }
    .debat-post-content {
      width: 75%;
      float: left;
      line-height: 1.5;
      h2 {
        text-align: left;
        font-size: 1.2em;
        padding-bottom: 10px;
      }
      p {
        text-align: left;
        font-size: 1em;
      }
    }
    .debat-post-points {
      float: right;
      max-width: 19%;
      padding-left: 10px;

      .debat-post-points-up {
        padding-bottom: 40px;
        h3 {
          float: right;
        }
        img {
          width: 30px;
          float: left;
          margin-right: 10px;
        }

      }
      .debat-post-points-down {
        h3 {
          float: right;
        }
        img {
          width: 30px;
          margin-right: 10px;
          float: left;
        }
      }
    }
  }
}

// DEBAT SLUT
