
$maincolor: #009688; // TEAL
$secondcolor: #FF9100; // ORANGE
$hovercolor: #00695C; // DARK TEAL
$backgroundcolor: #def0ef; // LIGHT TEAL
$font: 'Roboto', Arial, Helvetica, sans-serif;
body {
font-family: $font;
}
 // NAVIGATIONEN
.navigation {
width: 100%;
height: 100px;
background-color: $maincolor;
overflow: hidden;
  .navigation-left {
    float: left;
  }
  .navigation-right {
    float: right;
  }
  .navlogo {
    height: 80px;
    z-index: 1;
  }
.navbar {
  display: inline-flex;
  font-size: 1.3em;
  line-height: 55px;
  float: right;
  ul {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px 10px 15px 10px;
  }
  li {
    a.active {
      color: $secondcolor;
    }
  }
    li {
      a:hover {
      color: $secondcolor;
      border-bottom: 1px solid $secondcolor;
    }
  }
  .open {
    display: none;
  }
}
}
// SIDEMOBILENAV
.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  background: $maincolor;
  overflow-x: hidden;
  padding-top: 30px;
  transition: 0.3s;
 a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 1em;
   color: white;
   display: block;
 }
 .closebtn {
   position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
 }
}
// END OF NAVIGATION
// FOOTER START
footer {
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: 100px;
  background-color: $maincolor;
}
// END OF FOOTER
// clearfix
.clearfix {
  width: 100%;
  height: 300px;
}
@media screen and (max-width: 770px) {
  .clearfixtablet {
    width: 100%;
    height: 300px;
  }
}
.clearfixsmall {
  width: 100%;
  height: 100px;
}
.clearfixlarge {
  width: 100%;
  height: 400px;
}
// end of clearfix
// Søgefunction
.searchstyle {
  width: 100%;
  height: 20px;
  background-color: #def0ef;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
  a {
    text-decoration: none;
    color: $secondcolor;
    text-align: center;
  }
}

.search {
  background-color: #def0ef;
  text-align: center;
  height: 80px;
  .search-input {
  }
  input {
    float: left;
    width: 50%;
    text-align: center;
    border-radius: 3px;
    height: 40px;
    font-size: 1.3em;
    margin-top: 20px;
    margin-left: 15%;
    border: none;
  }
  .search-btn {
    input {
      width: 100px;
      color: $secondcolor;
      background-color: $maincolor;
      border: none;
      border-radius: 5px;
      margin-left: 20px;
    }
  }
  .search-btn {
    input {
      color: $secondcolor;
      background-color: $maincolor;
      border: none;
      border-radius: 5px;
    }
  }
}


// BRØDKRUMMESTI
.path {
  background-color: $backgroundcolor;
  color: $maincolor;
  padding-bottom: 10px;
  padding-left: 20px;
  overflow: hidden;
  a {
    text-decoration: none;
    color: $secondcolor;
    padding: 10px;
  }
  .path-stalk {
    float: left;
    p {
      float: right;
    }
  }
  .path-venstre {
    float: left;
    p {
      float: right;
    }
  }
}

// SENESTE NYT
.sectionhero_1 {
  width: 100%;
  height: 800px;
  background-image: url("../images/senestenyt.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  img {
    margin: 20px 20px 20px 0px;
    width: 80%;
    @media screen and (max-width: 770px) {
      width: 40%;
    }
    @media screen and (max-width: 500px) {
      width: 70%;
    }
  }
  .facts {
    margin-top: 50px;
    padding: 10px;
    background-color: $secondcolor;
    border-radius: 20px;
    height: 200px;
    @media screen and (max-width: 770px) {
      height: 100px;
    }
    h1 {
      margin-top: 20px;
      color: white;
      text-align: center;
      font-size: 1.5em;
    }
    p {
      text-align: center;
      font-size: 1.2em;
      margin-top: 30px;
      color: white;
    }
  }
  .maaling {
    margin: 50px;
    h2 {
      text-align: center;
      font-size: 1.2em;
    }
    img {
      margin: 20px 0px 20px 20px;
    }
    .meningsmaaling {
      text-align: justify;
      label {
      font-weight: bold;
      }
    }
  }
}
.sectionhero_1_1 {
  width: 100%;
  height: 800px;
  background-image: url("../images/senestenyt2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.seneste_tekst {
  color: white;
  margin: 30px;
  h2 {
    font-size: 1.2em;
  }
  p {
    line-height: 20px;
    margin-top: 10px;
  }
}
.sektion_2billede {
  img {
  margin-top: 200px;
  width: 100%;
  height: 350px;
  @media screen and (max-width: 770px) {
    margin-top: 20px;
  }
  }
  h2 {
    font-size: 1.2em;
    margin-top: 10px;
  }
  p {
    margin-top: 10px;
    line-height: 20px;
  }
}

// STALK DIN POLITIKER
.sectionhero_2 {
  width: 100%;
  background-image: url("../images/stalkpol.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


  .pollogos {
  .pollogo {
    img {
      width: 70%;
      border-radius: 350px;
      border: 1px solid $secondcolor;
      margin: 15px auto;
      text-align: center;
      display: block;
    }
  }
}
.pollogos_2 {
  margin-top: 100px;
  }


// PARTISIDE
// Hero
.venstrehero {
  width: 100%;
  height: 400px;
  background-image: url("../images/venstreblur.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  h1 {
      padding-top: 150px;
      width: 70%;
      color: black;
      margin: 0 auto;
      text-align: center;
      font-size: 2em;
    }
  }

// Mærkesager
.maerkesager {
  h1 {
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
  }
  .maerkesager-items {
    overflow: hidden;
    margin: 0 auto;
    width: 70%;
    padding: 20px 15%;
    .maerkesager-items-left {
      width: 45%;
      float: left;
    }
    .maerkesager-items-right {
      width: 45%;
      float: right;
    }
    @media screen and (max-width: 400px) {
      .maerkesager-items-left {
        width: 95%;
        float: none;
        margin: 0 auto;
        text-align: center;
        padding: 20px 0 0 0;
      }
      .maerkesager-items-right {
        width: 95%;
        float: none;
        margin: 0 auto;
        text-align: center;
        padding: 0;
      }
    }
  }
  img {
    width: 40px;
  }
  td {
    padding: 10px;
    vertical-align: middle;
  }
}

// Politikere
.politikere {
  background-image: url('../images/sidesam.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  overflow: hidden;
  margin: 30px auto;
  text-align: center;
  padding-top: 20px;
  .politikere-left {
    float: left;
    padding-left: 15%;
    padding-right: 15%;
    width: 20%;
  }
  .politikere-right {
    float: right;
    padding-left: 10%;
    padding-right: 15%;
    width: 20%;
  }
  .politikere-politiker{
    padding: 25px 0;
    a {
      text-decoration: none;
      color: black;
      font-size: 1.2em;
      cursor: pointer;
      width: 80%;
      h2 {
        padding-top: 10px;
      }
      .politikere-politiker-picture-fun {
        display: none;
      }
      .politikere-politiker-picture {
        width: 100%;
        padding-top: 100%;
        background-size: cover;
        background-position: 50% 50%;
        border-radius: 100%;
        margin: 0 auto;
      }
    }
    a:hover {
      .politikere-politiker-picture-fun {
        display: block;
      }
      .politikere-politiker-picture-serious {
        display: none;
      }
    }
  }
  img {
    width: 80%;
    border-radius: 100%;
  }
  @media screen and (max-width: 839px) {
    background-image: url(none);
    .politikere-left {
      float: none;
      padding: 5%;
      width: 50%;
      margin: 0 auto;
      padding: 0 0;
    }
    .politikere-right {
      float: none;
      padding: 5%;
      width: 50%;
      margin: 0 auto;
      padding: 0 0;
    }
  }
  @media screen and (max-width: 400px) {
    background-image: url(none);
    .politikere-left {
      width: 80%;
    }
    .politikere-right {
      width: 80%;
    }
  }
}


// POLITIKERSIDE
// Hero
.politikerhero {
  width: 100%;
  min-height: 600px;
  background-image: url("../images/grey.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  .hero-content {
    padding: 5%;
    .hero-content-image {
      width: 100%;
      padding-top: 100%;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 100%;
    }
    .hero-content-left{
      float: left;
      width: 25%;
      @media screen and (max-width: 400px) {
        float: none;
        width: 80%;
        margin: 0 auto 30px auto;
      }
    }
    .hero-content-right{
      margin-left: 60px;
      float: left;
      width: 65%;
      .hero-content-name {
        h1 {
          font-size: 2em;
          padding-bottom: 20px;
        }
      }
      .hero-content-facts {
        overflow: hidden;
      }
      .hero-content-facts-left {
        float: left;
        width: 49%;
      }
      .hero-content-facts-right {
        float: right;
        width: 49%;
      }
      .hero-content-text {
        width: 100%;
        padding-top: 10px;
      }
      @media screen and (max-width: 400px) {
        float: none;
        width: 90%;
        margin: 0 auto 30px auto;
        h1 {
          text-align: center;
        }
        .hero-content-facts-left {
        float: none;
        width: 100%;
        }
        .hero-content-facts-right {
          float: none;
          width: 100%;
        }
        .hero-content-text {
          img {
            display: none;
          }
        }
      }
    }

    img {
      width: 40px;
    }
    td{
      vertical-align: middle;
      padding: 10px 5px;
      line-height: 1.4;
    }
    .icon-large {
        width: 80px;
      }
  }
}

// Instragramfeed
.instagram {
  text-align: center;
  img {
    width: 70%;
    padding-bottom: 80px;
  }
}




// EVENTS
.sectionhero_3 {
  width: 100%;
  height: 800px;
  background-image: url("../images/7608.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

$eventimg: 70%;
.livestream {
  .live_1 {
    h1 {
      color: white;
      font-size: 2em;
      margin: 20px;
      padding: 20px;
      text-align: center;
      height: 200px;
    }
  }
  .live_2 {
    float: right;
    img {
      width: 100%;
      padding-bottom: 50px;
    }
  }
  .live_3 {
    float: left;
    font-size: 1.5em;
    line-height: 50px;
    margin-top: 190px;
    @media screen and (max-width: 770px) {
      margin-top: 0;
    }
  }
}
.live_background {
  background-color: #def0ef;
  .events_1 {
    h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 100px;
    }
    img {
      width: $eventimg;
    }
  }
  .events_2 {
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    .event-content {
      width: $eventimg;
      margin: 10px auto;
    }
    .event-content-right {
      float: right;
    }
    .event-content-left {
      float: left;
    }
    img {
      width: $eventimg;
    }
    h2 {
      font-size: 1.2em;
      padding: 4px 0px 4px 0px;
    }
  }
}
// EVENT SLUT // // EVENT SLUT // // EVENT SLUT //


// KONTAKT BEGYNDER

//Hero
.kontakthero {
  width: 100%;
  height: 600px;
  background-image: url("../images/kontakt.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  h1 {
      padding-top: 150px;
      width: 70%;
      color: white;
      margin: 0 auto;
      text-align: center;
      font-size: 2em;
    }
  }

// kontakt formular
.kontaktform {
  width: 50%;
  margin: 0 auto 50px auto;
  padding-bottom: 50px;
  @media screen and (max-width: 770px) {
    width: 80%;
  }
}

.input {
      margin: 15px auto;
      width: 100%;
      resize: vertical;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid $maincolor;
    }

.button {
  color: $secondcolor;
  background-color: $maincolor;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  font-family: $font;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

.button:hover {
  background-color: $hovercolor;
}

textarea {
  height: 150px;
}
// KONTAKT SLUT



// DEBAT BEGYNDER

//Hero
.debathero {
  overflow: hidden;
  width: 100%;
  height: 600px;
  background-image: url("../images/redebat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  img {
    float: right;
    margin: 20px 70px 20px 20px;
    width: 300px;
    @media screen and (max-width: 1100px) {
      width: 34%;
      margin: 20px 30px 20px 0;
    }
    @media screen and (max-width: 500px) {
      width: 70%;
      margin: 20px 70px 20px 20px;
    }
  }
  .debathero-vote {
    max-width: 350px;
    float: right;
    background-color: $backgroundcolor;
    opacity: 0.75;
    padding: 30px;
    margin: 50px 50px 0 0;
    @media screen and (max-width: 1100px) {
      width: 35%;
    }
    @media screen and (max-width: 500px) {
      display: none;
    }
    img {
      width: 20px;
      margin-right: 20px;
    }
    td {
      vertical-align: middle;
    }
  }
}

.debat {
  .debatform {
    width: 50%;
    @media screen and (max-width: 770px) {
      width: 80%;
    }
    margin: 0 auto 50px auto;
    .input {
      border: 1px solid #ccc;
    }
  }
  background-color: $backgroundcolor;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
  h1 {
    width: 70%;
    color: black;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
  }
  .debat-post {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #ccc;
    margin: 30px auto;
    padding: 20px;
    width: 50%;
    border-radius: 15px;
    overflow: hidden;
    @media screen and (max-width: 770px) {
      width: 80%;
    }
    .debat-post-content {
      width: 75%;
      float: left;
      line-height: 1.5;
      h2 {
        text-align: left;
        font-size: 1.2em;
        padding-bottom: 10px;
      }
      p {
        text-align: left;
        font-size: 1em;
      }
    }
    .debat-post-points {
      float: right;
      max-width: 19%;
      padding-left: 10px;

      .debat-post-points-up {
        padding-bottom: 40px;
        h3 {
          float: right;
        }
        img {
          width: 30px;
          float: left;
          margin-right: 10px;
        }

      }
      .debat-post-points-down {
        h3 {
          float: right;
        }
        img {
          width: 30px;
          margin-right: 10px;
          float: left;
        }
      }
    }
  }
}

// SKIFT KOMMUNE
.box {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  .box-content {
    background-color: $backgroundcolor;
    margin: 15% auto;
    text-align: center;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    h2 {
      color: black;
      font-size: 1.2em;
      padding: 10px;
    }
  }
  .close {
    background-color: $maincolor;
    color: $secondcolor;
    border: none;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    padding: 5px 15px;
    border-radius: 5px;

  }
  .close:hover {
      background-color: $hovercolor;
      cursor: pointer;
  }
}
