body {
  font-family: 'Roboto', sans-serif; }

.navigation {
  width: 100%;
  height: 100px;
  background-color: #009688; }
  .navigation .navlogo {
    width: 30%;
    z-index: 1; }
  .navigation .navbar {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1.3em;
    line-height: 30px;
    float: right; }
    .navigation .navbar a {
      text-decoration: none; }
    .navigation .navbar ul {
      margin: 0;
      padding: 0; }
    .navigation .navbar li {
      color: white;
      margin: 10px;
      padding: 10px;
      transition: color 0.4s ease-in; }
    .navigation .navbar li:hover {
      color: #FF9100;
      border-left: 1px solid #FF9100;
      border-right: 1px solid #FF9100; }
    .navigation .navbar .open {
      display: none; }

.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  background: #009688;
  overflow-x: hidden;
  padding-top: 30px;
  transition: 0.3s; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    display: block; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

footer {
  width: 100%;
  height: 100px;
  background-color: #009688; }

.sectionhero_1 {
  width: 100%;
  height: 800px;
  background-image: url("../images/sheepy2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .sectionhero_1 img {
    margin: 20px 20px 20px 0px;
    width: 80%; }
  .sectionhero_1 .facts {
    margin-top: 50px;
    padding: 10px;
    background-color: #FF9100;
    border-radius: 20px;
    height: 200px; }
    .sectionhero_1 .facts h1 {
      margin-top: 20px;
      color: white;
      text-align: center;
      font-size: 2em; }
    .sectionhero_1 .facts p {
      text-align: center;
      font-size: 1.2em;
      margin-top: 30px;
      color: white; }
  .sectionhero_1 .maaling {
    margin: 50px; }
    .sectionhero_1 .maaling h1 {
      text-align: center;
      font-size: 1.1em; }
    .sectionhero_1 .maaling img {
      margin: 20px 0px 20px 20px; }
    .sectionhero_1 .maaling .meningsmaaling {
      text-align: justify; }
      .sectionhero_1 .maaling .meningsmaaling label {
        font-weight: bold; }

.seneste_tekst {
  color: white;
  margin: 30px; }
  .seneste_tekst h1 {
    font-size: 1.5em; }

.sektion_2billede img {
  margin-top: 200px; }

.sektion_2billede h1 {
  font-size: 1.3em; }

.sectionhero_2 {
  width: 100%;
  height: 800px;
  background-image: url("../images/stalkpol.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.search_1 {
  background-color: #def0ef;
  text-align: center;
  height: 20px; }
  .search_1 input {
    width: 70%;
    text-align: center;
    line-height: 10px;
    border-radius: 3px;
    height: 50px;
    font-size: 1.3em;
    margin-top: 10px; }

.pollogos .pollogo img {
  width: 80%;
  border-radius: 350px;
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 10px; }

.pollogos_2 {
  margin-top: 100px; }

.sectionhero_2_venstre {
  width: 100%;
  height: 800px;
  background-image: url("../images/venstreblur.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.venstre h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 160px; }

.venstre .markesager h1 {
  text-align: right;
  margin-right: 200px; }

.venstre_1 {
  margin-top: 50px; }
  .venstre_1 .icons li {
    margin: 30; }
  .venstre_1 .icons img {
    vertical-align: middle;
    width: 12%; }

.polpic {
  width: 100%;
  height: 400px;
  background-image: url("../images/side-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .polpic .photo img {
    border-radius: 250px;
    margin-top: 40px;
    margin-left: 300px; }
  .polpic .photo h1 {
    margin-top: 10px;
    margin-left: 380px;
    font-size: 1.5em; }

.polpic_2 {
  width: 100%;
  height: 400px;
  background-image: url("../images/side-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .polpic_2 .photo_1 img {
    border-radius: 250px;
    margin-top: 40px;
    margin-left: 300px; }
  .polpic_2 .photo_1 h1 {
    margin-top: 10px;
    margin-left: 380px;
    font-size: 1.5em; }

.sectionhero_3 {
  width: 100%;
  height: 800px;
  background-image: url("../images/eventbillede.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.livestream .live_1 h1 {
  color: white;
  font-size: 2em;
  margin: 20px;
  padding: 20px;
  text-align: center;
  height: 200px; }

.livestream .live_2 {
  font-size: 1.5em;
  line-height: 50px;
  margin-top: 90px; }

.livestream .live_3 img {
  width: 100%; }

.live_background {
  background-color: #def0ef; }
  .live_background .events_1 h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 100px; }
  .live_background .events_1 img {
    width: 70%; }
  .live_background .events_2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 20px; }
    .live_background .events_2 img {
      width: 70%; }
    .live_background .events_2 h2 {
      font-size: 1.2em;
      padding: 4px 0px 4px 0px; }

.kontakthero {
  width: 100%;
  height: 600px;
  background-image: url("../images/kontakt.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .kontakthero img {
    margin: 20px 20px 20px 0px;
    width: 80%; }
  .kontakthero h1 {
    padding-top: 150px;
    width: 70%;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 2em; }
