/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://dallasbass.com
*/
[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-right: 20px;
  /* column-space */ }

[class*='col-'] [class*='col-']:last-child {
  padding-right: 0; }

.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 748px;
  /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
  margin: 0 auto;
  overflow: hidden; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.grid-pad {
  padding-top: 20px;
  padding-left: 20px;
  /* grid-space to left */
  padding-right: 0;
  /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */ }

.push-right {
  float: right; }

/* Content Columns */
.col-1-1 {
  width: 100%; }

.col-2-3, .col-8-12 {
  width: 66.66%; }

.col-1-2, .col-6-12 {
  width: 50%; }

.col-1-3, .col-4-12 {
  width: 33.33%; }

.col-1-4, .col-3-12 {
  width: 25%; }

.col-1-5 {
  width: 20%; }

.col-1-6, .col-2-12 {
  width: 16.667%; }

.col-1-7 {
  width: 14.28%; }

.col-1-8 {
  width: 12.5%; }

.col-1-9 {
  width: 11.1%; }

.col-1-10 {
  width: 10%; }

.col-1-11 {
  width: 9.09%; }

.col-1-12 {
  width: 8.33%; }

/* Layout Columns */
.col-11-12 {
  width: 91.66%; }

.col-10-12 {
  width: 83.333%; }

.col-9-12 {
  width: 75%; }

.col-5-12 {
  width: 41.66%; }

.col-7-12 {
  width: 58.33%; }

/* Pushing blocks */
.push-2-3, .push-8-12 {
  margin-left: 66.66%; }

.push-1-2, .push-6-12 {
  margin-left: 50%; }

.push-1-3, .push-4-12 {
  margin-left: 33.33%; }

.push-1-4, .push-3-12 {
  margin-left: 25%; }

.push-1-5 {
  margin-left: 20%; }

.push-1-6, .push-2-12 {
  margin-left: 16.667%; }

.push-1-7 {
  margin-left: 14.28%; }

.push-1-8 {
  margin-left: 12.5%; }

.push-1-9 {
  margin-left: 11.1%; }

.push-1-10 {
  margin-left: 10%; }

.push-1-11 {
  margin-left: 9.09%; }

.push-1-12 {
  margin-left: 8.33%; }

@media handheld, only screen and (max-width: 767px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    /* grid-space to left */
    padding-right: 10px;
    /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */ }
  [class*='col-'] {
    width: auto;
    float: none;
    margin: 10px 0;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */ }
  [class*='col-'] [class*='col-'] {
    padding-right: 0; }
  /* Mobile Layout */
  [class*='mobile-col-'] {
    float: left;
    margin: 0 0 10px;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0; }
  .mobile-col-1-1 {
    width: 100%; }
  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%; }
  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%; }
  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%; }
  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%; }
  .mobile-col-1-5 {
    width: 20%; }
  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%; }
  .mobile-col-1-7 {
    width: 14.28%; }
  .mobile-col-1-8 {
    width: 12.5%; }
  .mobile-col-1-9 {
    width: 11.1%; }
  .mobile-col-1-10 {
    width: 10%; }
  .mobile-col-1-11 {
    width: 9.09%; }
  .mobile-col-1-12 {
    width: 8.33%; }
  /* Layout Columns */
  .mobile-col-11-12 {
    width: 91.66%; }
  .mobile-col-10-12 {
    width: 83.333%; }
  .mobile-col-9-12 {
    width: 75%; }
  .mobile-col-5-12 {
    width: 41.66%; }
  .mobile-col-7-12 {
    width: 58.33%; }
  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0; } }

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

.navigation {
  width: 100%;
  height: 100px;
  background-color: #009688;
  overflow: hidden; }
  .navigation .navigation-left {
    float: left; }
  .navigation .navigation-right {
    float: right; }
  .navigation .navlogo {
    height: 75px;
    z-index: 1;
    margin-left: 50px; }
    @media screen and (max-width: 500px) {
      .navigation .navlogo {
        margin-left: 0px; } }
  .navigation .navbar {
    display: inline-flex;
    font-size: 1.2em;
    line-height: 55px;
    float: right;
    margin-right: 50px; }
    .navigation .navbar ul {
      margin: 0;
      padding: 0; }
    .navigation .navbar a {
      text-decoration: none;
      color: white;
      margin: 10px;
      padding: 10px 10px 15px 10px; }
    .navigation .navbar li a.active {
      color: #FF9100; }
    .navigation .navbar li a:hover {
      color: #FF9100;
      border-bottom: 1px solid #FF9100; }
    .navigation .navbar .open {
      display: none; }

.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  background: #009688;
  overflow-x: hidden;
  padding-top: 30px;
  transition: 0.3s; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    display: block; }
  .sidenav li a.active {
    color: #FF9100; }
  .sidenav a:hover {
    color: #FF9100;
    border: 1px solid #FF9100; }

footer {
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #009688; }
  footer p {
    color: white;
    line-height: 100px;
    text-align: center;
    padding: 0px 5px 0px 5px; }
  footer img {
    width: 2%;
    vertical-align: middle;
    padding: 0px 5px 0px 5px;
    float: right;
    margin-top: 40px; }
    @media screen and (max-width: 1130px) {
      footer img {
        width: 4%; } }
    @media screen and (max-width: 500px) {
      footer img {
        width: 7%;
        margin-top: 38px; } }

.clearfix {
  width: 100%;
  height: 300px; }

@media screen and (max-width: 500px) {
  .clearfixtablet {
    width: 100%;
    height: 100px; } }

.clearfixsmall {
  width: 100%;
  height: 100px; }

.clearfixlarge {
  width: 100%;
  height: 400px; }

.searchstyle {
  width: 100%;
  height: 20px;
  background-color: #E0F2F1;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px; }
  .searchstyle a {
    text-decoration: none;
    color: #FF9100;
    text-align: center; }

.search {
  background-color: #E0F2F1;
  text-align: center;
  height: 80px; }
  .search input {
    float: left;
    width: 50%;
    text-align: center;
    border-radius: 3px;
    height: 40px;
    font-size: 1.3em;
    margin-top: 20px;
    margin-left: 21%;
    border: none; }
    @media screen and (max-width: 1130px) {
      .search input {
        margin-left: 15%; } }
  .search .search-btn input {
    width: 100px;
    color: #FF9100;
    background-color: #009688;
    border: none;
    border-radius: 5px;
    margin-left: 20px; }
    @media screen and (max-width: 500px) {
      .search .search-btn input {
        width: 80px; } }
  .search .search-btn input {
    color: #FF9100;
    background-color: #009688;
    border: none;
    border-radius: 5px; }

.path {
  background-color: #E0F2F1;
  color: #009688;
  padding-bottom: 10px;
  padding-left: 20px;
  overflow: hidden; }
  .path a {
    text-decoration: none;
    color: #FF9100;
    padding: 10px; }
  .path .path-stalk {
    float: left; }
    .path .path-stalk p {
      float: right; }
  .path .path-venstre {
    float: left; }
    .path .path-venstre p {
      float: right; }

.sectionhero_1 {
  width: 100%; }
  .sectionhero_1 video {
    position: absolute;
    z-index: -100;
    left: 0; }
  @media screen and (max-width: 770px) {
    .sectionhero_1 {
      height: 100%;
      width: 100%;
      background-image: url("../images/senestenyt.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
      .sectionhero_1 video {
        dispay: none; } }
  .sectionhero_1 img {
    margin: 20px 20px 20px 0px;
    width: 80%; }
    @media screen and (max-width: 770px) {
      .sectionhero_1 img {
        width: 40%; } }
    @media screen and (max-width: 500px) {
      .sectionhero_1 img {
        width: 70%; } }
  .sectionhero_1 .facts {
    margin-top: 50px;
    padding: 10px;
    background-color: #FF9100;
    border-radius: 20px;
    height: 200px; }
    @media screen and (max-width: 770px) {
      .sectionhero_1 .facts {
        height: 100px; } }
    .sectionhero_1 .facts h2 {
      margin-top: 20px;
      color: white;
      text-align: center;
      font-size: 1.5em; }
      @media screen and (max-width: 770px) {
        .sectionhero_1 .facts h2 {
          margin-top: 10px; } }
    .sectionhero_1 .facts p {
      text-align: center;
      font-size: 1.2em;
      margin-top: 30px;
      color: white; }
      @media screen and (max-width: 770px) {
        .sectionhero_1 .facts p {
          margin-top: 5px; } }
  .sectionhero_1 .maaling {
    margin: 50px; }
    .sectionhero_1 .maaling h3 {
      text-align: center;
      font-size: 1.2em; }
    .sectionhero_1 .maaling img {
      margin: 20px 0px 20px 20px; }
    .sectionhero_1 .maaling .meningsmaaling {
      text-align: justify;
      margin-bottom: 15px; }

.sectionhero_1_1 {
  width: 100%;
  background-image: url("../images/senestenyt2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.seneste_tekst {
  color: white;
  margin: 30px; }
  .seneste_tekst h2 {
    font-size: 1.5em; }
  .seneste_tekst p {
    font-size: 1em;
    line-height: 20px;
    margin-top: 10px; }

.sektion_2billede img {
  margin-top: 200px;
  width: 100%;
  height: 350px; }
  @media screen and (max-width: 770px) {
    .sektion_2billede img {
      margin-top: 20px; } }

.sektion_2billede h3 {
  font-size: 1.2em;
  margin-top: 10px; }

.sektion_2billede p {
  margin-top: 0px;
  line-height: 20px;
  margin-bottom: 30px;
  font-size: 1em; }

.sectionhero_2 {
  width: 100%;
  background-image: url("../images/stalkpol.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.pollogos .pollogo img {
  width: 70%;
  border-radius: 350px;
  border: 1px solid #FF9100;
  margin: 15px auto;
  text-align: center;
  display: block; }

.pollogos_2 {
  margin-top: 100px; }

.venstrehero {
  width: 100%;
  height: 400px;
  background-image: url("../images/venstreblur.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .venstrehero h1 {
    padding-top: 150px;
    width: 70%;
    color: black;
    margin: 0 auto;
    text-align: center;
    font-size: 2em; }

.maerkesager h1 {
  font-size: 2em;
  margin: 0 auto;
  text-align: center; }

.maerkesager .maerkesager-items {
  overflow: hidden;
  margin: 0 auto;
  width: 70%;
  padding: 20px 15%; }
  .maerkesager .maerkesager-items .maerkesager-items-left {
    width: 45%;
    float: left; }
  .maerkesager .maerkesager-items .maerkesager-items-right {
    width: 45%;
    float: right; }
  @media screen and (max-width: 400px) {
    .maerkesager .maerkesager-items .maerkesager-items-left {
      width: 95%;
      float: none;
      margin: 0 auto;
      text-align: center;
      padding: 20px 0 0 0; }
    .maerkesager .maerkesager-items .maerkesager-items-right {
      width: 95%;
      float: none;
      margin: 0 auto;
      text-align: center;
      padding: 0; } }

.maerkesager img {
  width: 40px; }

.maerkesager td {
  padding: 10px;
  vertical-align: middle;
  text-align: left; }

.politikere {
  background-image: url("../images/sidesam.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  overflow: hidden;
  margin: 30px auto;
  text-align: center;
  padding-top: 20px; }
  .politikere .politikere-left {
    float: left;
    padding-left: 15%;
    padding-right: 15%;
    width: 20%; }
  .politikere .politikere-right {
    float: right;
    padding-left: 10%;
    padding-right: 15%;
    width: 20%; }
  .politikere .politikere-politiker {
    padding: 25px 0; }
    .politikere .politikere-politiker a {
      text-decoration: none;
      color: black;
      font-size: 1.2em;
      cursor: pointer;
      width: 80%; }
      .politikere .politikere-politiker a h3 {
        padding-top: 10px;
        font-size: 1.2em; }
      .politikere .politikere-politiker a .politikere-politiker-picture-fun {
        display: none; }
      .politikere .politikere-politiker a .politikere-politiker-picture {
        width: 100%;
        padding-top: 100%;
        background-size: cover;
        background-position: 50% 50%;
        border-radius: 100%;
        margin: 0 auto; }
    .politikere .politikere-politiker a:hover .politikere-politiker-picture-fun {
      display: block; }
    .politikere .politikere-politiker a:hover .politikere-politiker-picture-serious {
      display: none; }
  .politikere img {
    width: 80%;
    border-radius: 100%; }
  @media screen and (max-width: 839px) {
    .politikere {
      background-image: url(none); }
      .politikere .politikere-left {
        float: none;
        padding: 5%;
        width: 50%;
        margin: 0 auto;
        padding: 0 0; }
      .politikere .politikere-right {
        float: none;
        padding: 5%;
        width: 50%;
        margin: 0 auto;
        padding: 0 0; } }
  @media screen and (max-width: 400px) {
    .politikere {
      background-image: url(none); }
      .politikere .politikere-left {
        width: 80%; }
      .politikere .politikere-right {
        width: 80%; } }

.politikerhero {
  width: 100%;
  min-height: 600px;
  background-image: url("../images/grey.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden; }
  .politikerhero .hero-content {
    padding: 5%; }
    .politikerhero .hero-content .hero-content-image {
      width: 100%;
      padding-top: 100%;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 100%; }
    .politikerhero .hero-content .hero-content-left {
      float: left;
      width: 25%; }
      @media screen and (min-width: 401px) and (max-width: 550px) {
        .politikerhero .hero-content .hero-content-left {
          width: 37%;
          padding: 5px 5px 5px 50px; } }
      @media screen and (max-width: 400px) {
        .politikerhero .hero-content .hero-content-left {
          float: none;
          width: 80%;
          margin: 0 auto 30px auto; } }
    .politikerhero .hero-content .hero-content-right {
      margin-left: 60px;
      float: left;
      width: 65%; }
      @media screen and (max-width: 500px) {
        .politikerhero .hero-content .hero-content-right {
          width: 75%; } }
      .politikerhero .hero-content .hero-content-right .hero-content-name h1 {
        font-size: 2em;
        padding-bottom: 20px; }
      .politikerhero .hero-content .hero-content-right .hero-content-facts {
        overflow: hidden; }
      .politikerhero .hero-content .hero-content-right .hero-content-facts-left {
        float: left;
        width: 49%; }
      .politikerhero .hero-content .hero-content-right .hero-content-facts-right {
        float: right;
        width: 49%; }
      .politikerhero .hero-content .hero-content-right .hero-content-text {
        width: 100%;
        padding-top: 10px; }
      @media screen and (max-width: 400px) {
        .politikerhero .hero-content .hero-content-right {
          float: none;
          width: 90%;
          margin: 0 auto 30px auto; }
          .politikerhero .hero-content .hero-content-right h1 {
            text-align: center; }
          .politikerhero .hero-content .hero-content-right .hero-content-facts-left {
            float: none;
            width: 100%; }
          .politikerhero .hero-content .hero-content-right .hero-content-facts-right {
            float: none;
            width: 100%; }
          .politikerhero .hero-content .hero-content-right .hero-content-text img {
            display: none; } }
    .politikerhero .hero-content img {
      width: 40px; }
    .politikerhero .hero-content td {
      vertical-align: middle;
      padding: 10px 5px;
      line-height: 1.4; }
    .politikerhero .hero-content .icon-large {
      width: 80px; }

.instagram {
  text-align: center; }
  .instagram img {
    width: 70%;
    padding-bottom: 80px; }

.sectionhero_3 {
  width: 100%;
  height: 800px;
  background-image: url("../images/7608.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.livestream .live_1 h1 {
  color: white;
  font-size: 2em;
  margin: 20px;
  padding: 20px;
  text-align: center;
  height: 200px; }

.livestream .live_2 {
  float: right; }
  .livestream .live_2 img {
    width: 100%;
    padding-bottom: 50px; }

.livestream .live_3 {
  float: left;
  line-height: 50px;
  margin-top: 190px; }
  .livestream .live_3 h2 {
    font-size: 1.5em; }
  .livestream .live_3 h3 {
    font-size: 1.2em; }
  @media screen and (max-width: 770px) {
    .livestream .live_3 {
      margin-top: 0; } }

.live_background {
  background-color: #def0ef; }
  .live_background .events_1 h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 100px; }
  .live_background .events_1 img {
    width: 70%; }
  .live_background .events_2 {
    margin: 50px auto;
    text-align: center;
    padding: 20px; }
    .live_background .events_2 .event-content {
      width: 70%;
      margin: 10px auto; }
    .live_background .events_2 .event-content-right {
      float: right;
      text-align: right; }
    .live_background .events_2 .event-content-left {
      float: left; }
    .live_background .events_2 img {
      width: 70%; }
    .live_background .events_2 h2 {
      font-size: 1.2em;
      padding: 4px 0px 4px 0px; }

.kontakthero {
  width: 100%;
  height: 600px;
  background-image: url("../images/kontakt.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .kontakthero h1 {
    padding-top: 150px;
    width: 70%;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 2em; }

.kontaktform {
  width: 50%;
  margin: 0 auto 50px auto;
  padding-bottom: 50px; }
  @media screen and (max-width: 770px) {
    .kontaktform {
      width: 80%; } }

.input {
  margin: 15px auto;
  width: 98%;
  resize: vertical;
  padding: 15px;
  padding-right: 0px;
  border-radius: 5px;
  border: 1px solid #009688; }

.button {
  color: #FF9100;
  background-color: #009688;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  cursor: pointer;
  float: right; }

.button:hover {
  background-color: #00695C; }

textarea {
  height: 150px; }

.debathero {
  overflow: hidden;
  width: 100%;
  height: 600px;
  background-image: url("../images/redebat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .debathero img {
    float: right;
    margin: 20px 70px 20px 20px;
    width: 300px; }
    @media screen and (max-width: 1100px) {
      .debathero img {
        width: 34%;
        margin: 20px 30px 20px 0; } }
    @media screen and (max-width: 500px) {
      .debathero img {
        width: 70%;
        margin: 20px 70px 20px 20px; } }
  .debathero .debathero-vote {
    max-width: 350px;
    float: right;
    background-color: #E0F2F1;
    opacity: 0.75;
    padding: 30px;
    margin: 50px 50px 0 0; }
    @media screen and (max-width: 1100px) {
      .debathero .debathero-vote {
        width: 35%; } }
    @media screen and (max-width: 500px) {
      .debathero .debathero-vote {
        display: none; } }
    .debathero .debathero-vote img {
      width: 20px;
      margin-right: 20px; }
    .debathero .debathero-vote td {
      vertical-align: middle; }

.debat {
  background-color: #E0F2F1;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0; }
  .debat .debatform {
    width: 50%;
    margin: 0 auto 50px auto; }
    @media screen and (max-width: 770px) {
      .debat .debatform {
        width: 80%; } }
    .debat .debatform .input {
      border: 1px solid #ccc; }
    .debat .debatform span {
      opacity: 0.75;
      float: left;
      padding-left: 5px; }
  .debat h1 {
    width: 70%;
    color: black;
    margin: 0 auto;
    text-align: center;
    font-size: 2em; }
  .debat .debat-post {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #ccc;
    margin: 30px auto;
    padding: 20px;
    width: 50%;
    border-radius: 15px;
    overflow: hidden;
    word-wrap: break-word; }
    @media screen and (max-width: 770px) {
      .debat .debat-post {
        width: 80%; } }
    .debat .debat-post .debat-post-content {
      width: 75%;
      float: left;
      line-height: 1.5; }
      .debat .debat-post .debat-post-content h2 {
        text-align: left;
        font-size: 1.2em;
        padding-bottom: 10px; }
      .debat .debat-post .debat-post-content p {
        text-align: left;
        font-size: 1em; }
    .debat .debat-post .debat-post-points {
      float: right;
      max-width: 19%;
      padding-left: 10px; }
      .debat .debat-post .debat-post-points .debat-post-points-up {
        padding-bottom: 40px; }
        .debat .debat-post .debat-post-points .debat-post-points-up h3 {
          float: right; }
        .debat .debat-post .debat-post-points .debat-post-points-up img {
          width: 30px;
          float: left;
          margin-right: 10px; }
      .debat .debat-post .debat-post-points .debat-post-points-down h3 {
        float: right; }
      .debat .debat-post .debat-post-points .debat-post-points-down img {
        width: 30px;
        margin-right: 10px;
        float: left; }

.box {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  .box .box-content {
    background-color: #E0F2F1;
    margin: 15% auto;
    text-align: center;
    padding: 20px;
    width: 300px;
    border-radius: 5px; }
    .box .box-content h2 {
      color: black;
      font-size: 1.2em;
      padding: 10px; }
  .box .close {
    background-color: #009688;
    color: #FF9100;
    border: none;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    padding: 5px 15px;
    border-radius: 5px; }
  .box .close:hover {
    background-color: #00695C;
    cursor: pointer; }

@media screen and (max-width: 1130px) {
  .navigation {
    width: 100%;
    height: 100px;
    background-color: #009688; }
    .navigation .navbar {
      font-size: 3em;
      margin: 0;
      padding: 0;
      line-height: 15px; }
      .navigation .navbar a {
        text-decoration: none;
        color: white; }
      .navigation .navbar .none {
        width: 10%;
        display: none; }
      .navigation .navbar .open {
        display: block;
        line-height: 55px; } }

@media screen and (max-width: 500px) {
  .sectionhero_1 img {
    margin: 0px 0px 0px 0px; }
  .seneste_tekst {
    line-height: 20px;
    margin-top: 10px; }
    .seneste_tekst h1 {
      line-height: 25px; }
    .seneste_tekst p {
      margin-top: 10px; }
  .sektion_2billede img {
    margin-top: 0px;
    margin: 30px;
    width: 90%;
    height: 320px; }
  .sektion_2billede h2 {
    margin: 10px 30px 10px 30px; }
  .sektion_2billede p {
    line-height: 20px;
    margin: 0px 30px 30px 30px; }
  .sectionhero_2_1 .profile .politiktekst {
    margin-top: 50px; }
    .sectionhero_2_1 .profile .politiktekst .icons_1 img {
      vertical-align: middle;
      width: 25%;
      margin-left: 135px; }
    .sectionhero_2_1 .profile .politiktekst p {
      padding: 5px;
      line-height: 20px;
      margin: 30px;
      text-align: center; } }
